<h1>Book: <%= @book.Title %></h1>

<ul>
  <% for copy in @book.copies %>
    <li>
      Borrower: <%= copy.borrower %> </br>
      Due: <%= copy.due_date %>
      <%= link_to 'Edit Copy', edit_book_copy_path(:book_id => @book.id, :id => copy.id) %>
      <%= button_to "Delete Copy", book_copy_path({:book_id => @book.id, :id => copy.id} ), :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Copy', new_book_copy_path(:book_id => @book.id) %>

<%= link_to 'back', books_path %>